<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="1" Name="P-layer" Language="1033" Version="1.0.0.0" Manufacturer="Pingfanh">

        <Package InstallerVersion="200" Compressed="yes" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="P-layer" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="P-layer" />
            </Directory>
        </Directory>

        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainExecutable" Guid="PUT-GUID-HERE">
                <File Id="MyAppEXE" Source="path_to\MyApp.exe" KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Id="Documentation" Guid="PUT-GUID-HERE">
                <File Id="MyAppDoc" Source="path_to\MyAppDoc.pdf" KeyPath="yes" />
            </Component>
        </ComponentGroup>
        
        <UI />
        
    </Product>
</Wix>